html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif;
  background-color: #f7f9fd;
  color: #808d99;
}
body a:focus {
  outline: 5px dotted #ff52bf;
}

.header,
.hero,
.main {
  margin: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}
.header-logo {
  width: 13rem;
}

.btn {
  font-family: "Poppins", sans-serif;
  font-size: 70%;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0px 0px 20px -8px rgba(128, 141, 153, 0.8);
  -moz-box-shadow: 0px 0px 20px -8px rgba(128, 141, 153, 0.8);
  box-shadow: 0px 0px 20px -8px rgba(128, 141, 153, 0.8);
  transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  text-decoration: none;
}
.btn:active {
  transform: translateY(3px);
  outline: 5px dotted #ff52bf;
  color: inherit;
}
.btn:focus, .btn:hover {
  outline: 5px dotted #ff52bf;
}
.btn-white {
  background-color: white;
  color: #9a52ff;
  padding: 1rem 2.5rem;
}
.btn-white:visited {
  color: #9a52ff;
}
.btn-pink {
  background-color: #ff52bf;
  color: white;
  margin-top: 1.5rem;
  display: inline-block;
  padding: 2rem 6rem;
  font-size: 1.6rem;
}
.btn-pink:visited {
  color: white;
}

.hero {
  display: grid;
  place-items: center;
  margin-bottom: 5rem;
}
.hero-image {
  width: 90%;
}

.main {
  text-align: center;
}
.main-headline {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  color: #000000;
}
.main-section {
  margin-bottom: 2rem;
}
.main-text {
  line-height: 150%;
}
.conversation {
  margin-top: 3rem;
}
.conversation-image {
  width: 90%;
  margin-top: 20rem;
  margin-bottom: 10rem;
}

.highpoints {
  margin-bottom: 10rem;
}
.highpoints div:not(:first-of-type) {
  margin-top: 4rem;
}
.highpoints-headline {
  color: #000000;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.highpoints-text {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 160%;
}

.cta {
  background-color: #ffffff;
  display: grid;
  place-items: center;
  margin-bottom: 10rem;
  padding: 4rem 1rem;
  -webkit-box-shadow: -1px 4px 14px 0px rgba(0, 0, 0, 0.05), 3px 10px 9px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: -1px 4px 14px 0px #rgba 0, 0, 0, 0.05, 3px 10px 9px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 4px 14px 0px rgba(0, 0, 0, 0.05), 3px 10px 9px 0px rgba(0, 0, 0, 0.05);
}
.cta-headline {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 2rem;
  margin: 0;
}
.cta-text {
  font-size: 1.4rem;
}
.cta-btn {
  margin-top: 0;
  padding: 1rem 4rem;
  font-size: 1.4rem;
  border-radius: 0;
}

.footer {
  background-color: #00252e;
  padding: 0 2rem 1rem 2rem;
}
.footer__image {
  width: 50%;
  margin: 0 auto;
  padding: 5rem 0;
  display: block;
}
.footer__link {
  margin-bottom: 5rem;
}
.footer__link ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer__link li {
  margin: 1rem;
  font-size: 16px;
}
.footer__link li:first-of-type {
  margin-top: 0;
}

.subscribe {
  color: #f7f9fd;
  text-align: center;
}
.subscribe__headline {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.subscribe__text {
  line-height: 150%;
  font-size: 14px;
  font-weight: 400;
}
.subscribe__form > * {
  width: 100%;
}
.subscribe__form > *:focus {
  outline: 5px dotted #ff52bf;
}
.subscribe__input {
  height: 4rem;
}
.subscribe__button {
  box-shadow: none;
  border: none;
  border-radius: 0;
  margin-bottom: 5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution__contact {
  font-size: 18px;
}
.attribution__contact > a {
  margin: 1rem;
}
.attribution a,
.attribution p {
  color: #ffffff;
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
  .header,
.hero,
.main {
    margin: 5rem;
  }

  .subscribe__headline {
    margin: 0;
  }

  .attribution {
    grid-column: 1/-1;
  }

  .footer__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__link {
    margin: 0 auto;
  }
  .footer__image {
    width: 20%;
  }
}
@media only screen and (min-width: 1024px) {
  .header,
.hero,
.main {
    margin: 5rem;
  }

  .header-logo {
    width: 20rem;
  }

  .btn {
    font-size: 90%;
  }
  .btn-white {
    padding: 1.5rem 5rem;
  }
  .btn-pink {
    background-color: #ff52bf;
    color: white;
    margin-top: 1.5rem;
    display: inline-block;
    padding: 2rem 6rem;
    font-size: 1.6rem;
  }
  .btn-pink:visited {
    color: white;
  }

  .hero-image {
    width: 75%;
  }

  .main-section {
    width: 55%;
    margin: 0 auto;
  }

  .conversation {
    margin: 20rem 5rem 10rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .conversation-image {
    width: 45%;
    align-self: flex-start;
    margin-top: 2rem;
  }

  .highpoints {
    width: 45%;
    text-align: left;
    margin-bottom: 0;
  }

  .cta {
    width: 50%;
    margin: 15rem auto;
    padding: 6rem 0;
  }
  .cta-headline {
    font-size: 3rem;
  }
  .cta-text {
    font-size: 1.5rem;
  }

  .footer {
    padding: 0 5rem 7rem 5rem;
  }
  .footer__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__image {
    width: 10%;
    margin: 0;
    display: inline-block;
    padding-bottom: 2rem;
  }
  .footer__link > ul {
    display: flex;
    justify-content: space-evenly;
  }

  .subscribe {
    text-align: left;
  }
  .subscribe__headline {
    margin: 0;
  }
  .subscribe__button {
    width: 50%;
    padding: 2rem 4rem;
    align-self: flex-end;
  }
  .subscribe__form {
    display: flex;
    flex-direction: column;
  }

  .attribution {
    grid-column: 1/2;
    grid-row: 1;
    text-align: left;
  }
  .attribution__contact {
    margin: 0 auto;
    padding-bottom: 1.5rem;
  }
}

/*# sourceMappingURL=index.css.map */
